body {
    margin: 0;
}

div.slider,
div.slide,
div.fade {
    margin-bottom: 10px;
}

div.slider_wrapper {
    margin: 0 auto;
    overflow: hidden;
}

ul[id^="slider"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

ul[id^="slider"] li {
    float: left;
}

ul[id^="slider"] li img {
    display: block;
    width: 100%;
    border: none;
}

ul[id^="slider"] li.opacity  {
    display: block!important;
    opacity: 1!important;
}

ul[id^="slider"] li.non_opacity  {
    display: none!important;
    opacity: 0!important;
}

@-webkit-keyframes display-none-transition {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        opacity: 1;
    }
}