<div class="col-md-12 filter_wrapper">
    <img ng-src="http://cdni.llbean.com/is/image/wim/{{pdpImg}}?scl=8" alt="{{dataPdp.name}}"/>

    <ul class="color_list">
        <li ng-class="$index == 0 ? 'active' : ''" ng-click="colorSwatcher($event, $index)" ng-if="swatch.id" data-swatch-id="{{swatch.id}}" ng-repeat="swatch in dataPdp.swatches">
            <img ng-src="http://cdni.llbean.com/is/image/wim/{{swatch.id}}?scl=0.5" title="{{swatch.name}}"/>
        </li>
    </ul>

    <div>${{pdpPrice}}</div>

    <h2>Product name: {{dataPdp.name}}</h2>

    <h3>Item stock state: {{dataPdp.item[0].stock}}</h3>

    <h3>Product id: {{dataPdp.id}}</h3>

    <div ng-bind-html="dataPdp.qrtxt"></div>

</div>

